.resourceTop, .resourceBottom {
    color: white;
    background-color: #ae6360;
}

body {
    color: #ee674e;
}

@media screen and (min-width: 341px) {
    .scrollable-content {
        background: url("../imgs/background.jpg") center;
        background-size: cover;
    }
}

@media screen and (max-width: 340px) {
    .scrollable-content {
        background: url("../imgs/backgroundSmall.jpg") center;
        background-size: cover;
    }
}

.navbar-brand-center {
    font-size: 1.5em;
    padding-top: .45em;
}

.app ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0.5em .15em 0.5em;
    /*background-color: #593e39;*/
}

.app li {
    background-color: #593e39;
    margin: 0 0 0.5em 0;
    border-right: .125em solid #ee674e;
    border-bottom: .125em solid #ee674e;
    padding: .5em;
}

input {
    color: #ee674e;
    padding: .25em;
    background-color: #593e39;
    border: .1em solid #ee674e;
}

button {
    background-color: #593e39;
    color: #ee674e;
    border: .025em solid #ee674e;
    padding: .5em 1em .5em 1em;
}

#loginWrap {
    width: 75%;
    /*border: .125em solid #ee674e;*/
    margin: 0 auto;
    font-size: 1.25em;
}

#loginWrap li {
    width: 100%;
    overflow: hidden;
}

#charSelect {
    font-size: 1.5em;
}

.listControl button {
    margin: 0 .25em 0 .25em;
}

.resourceListItem div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listName {
    font-weight: bold;
    font-size: 1.15em;
    width: 30%;
}

.listType {
    margin-left: 1em;
    font-weight: bold;
}

.listControl {
    margin-left: auto;
    text-align: right;
    width: 20%;
}

.listValue {
    margin-left: auto;
    text-align: right;
    width: 40%;
    border: .1em solid #ee674e;
    padding: .35em;
}

.editValue {
    width: 25%;
}

.editControl {
    width: 60%;
    margin-left: auto;
    text-align: right;
}

.resourceItemName {
    font-weight: bold;
}

.otherHidden {
    visibility: hidden;
}