.resourceTop, .resourceBottom {
    color: white;
    padding: .5em;
    background-color: #ae6360;
}

body {
    color: #ee674e;
}

.scrollable-content {
    background: url("../imgs/background.jpg") center;
    background-size: 100% auto;
}

.navbar-brand-center {
    font-size: 1.5em;
}

.app ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0.5em .15em 0.5em;
    /*background-color: #593e39;*/
}

.app li {
    background-color: #593e39;
    margin: 0 0 0.5em 0;
    border-right: .125em solid #ee674e;
    border-bottom: .125em solid #ee674e;
    padding: .5em;
}

input {
    color: #ee674e;
    padding: .25em;
    background-color: #593e39;
    border: .1em solid #ee674e;
    font-weight: bold;
}

button {
    background-color: #593e39;
    color: #ee674e;
    border: .025em solid #ee674e;
    padding: .5em 1em .5em 1em;
}

#loginWrap {
    width: 75%;
    /*border: .125em solid #ee674e;*/
    margin: 0 auto;
}

#loginWrap li {
    width: 100%;
    overflow: hidden;
}

/*#loginWrap button {
    float: right;
}*/

/*#loginWrap button:after {
    content: " ";
    clear: both;
    display: block;
}*/

.listControl button {
    margin: 0 .25em 0 .25em;
}

.resourceListItem div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listName {
    font-weight: bold;
    font-size: 1.15em;
    width: 35%;
}

.listType {
    margin-left: 1em;
    font-weight: bold;
}

.listControl {
    margin-left: auto;
    text-align: right;
    width: 30%;
}

.listValue {
    margin-left: auto;
    text-align: right;
    width: 25%;
    border: .1em solid #ee674e;
    padding: .5em;
}

.resourceItemName {
    font-weight: bold;
}

.otherHidden {
    visibility: hidden;
}

.editView input {
    width: 100%;
}