<div class="scrollable">
    <div class="scrollable-content section">
        <section>
            <form ng-controller="resourceAppAddData as resAdd" ng-submit="">
                <ul class="resourceListWrap">
                    <li><input placeholder="Name:" ng-model="resAdd.name"/></li>
                    <li><input placeholder="Value:" type="number" ng-model="resAdd.value"/></li>
                    <li><input placeholder="0 for no maximum" type="number" ng-model="resAdd.maximum"/></li>
                    <li><input placeholder="Type:" ng-model="resAdd.type"/></li>
                </ul>
                <div ui-content-for="navbarREdit">
                    <button ng-click="resAdd.push()">Add</button>
                </div>
                <div ui-content-for="navbarLEdit">
                    <button ng-click="resAdd.cancel()">Cancel</button>
                </div>
            </form>
        </section>
    </div>
</div>