<meta http-equiv="expires" content="0">
<div class="scrollable">
    <div class="scrollable-content section">
        <section ng-controller="resourceAppCharList as resCharList">
            <div ui-content-for="title">
                <span>Select Character</span>
            </div>
            <div ui-content-for="navbarRAction">
                <div class="btn btn-navbar">
                    <button ng-click="resCharList.logOut()">
                        Log Out
                    </button>
                </div>
            </div>
            <form ng-submit="">
                <ul id="charSelect">
                    <li ng-repeat="char in resCharList.charList" ng-click="resCharList.load($index)">
                        {{char.name}}
                    </li>
                </ul>
            </form>
        </section>
    </div>
</div>