<meta http-equiv="expires" content="0">
<div class="scrollable">
    <div class="scrollable-content section">
        <form ng-submit="">
            <ul id="loginWrap">
                <li><input placeholder="Username:" ng-model="resApp.user.username"/></li>
                <li><input placeholder="Password:" ng-model="resApp.user.password"/></li>
            </ul>
        </form>
        <div ui-content-for="navbarAction">
            <button ng-click="resApp.userLoad()" id="signInBtn" ng-disabled="resApp.user.username==undefined||resApp.user.username==''">Sign In</button>
        </div>
    </div>
</div>